<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555335675391-6pbg5ps9hlv7bq9mvv2t6rs58iemgrpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555335675391-6pbg5ps9hlv7bq9mvv2t6rs58iemgrpl</string>
	<key>API_KEY</key>
	<string>AIzaSyCOVPBvtwJYf0Sy0eKbKlzyW3V5hCx8kmA</string>
	<key>GCM_SENDER_ID</key>
	<string>555335675391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ioannisGiannakidis.Market</string>
	<key>PROJECT_ID</key>
	<string>market-d50cf</string>
	<key>STORAGE_BUCKET</key>
	<string>market-d50cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555335675391:ios:876ee276f4dbb161</string>
	<key>DATABASE_URL</key>
	<string>https://market-d50cf.firebaseio.com</string>
</dict>
</plist>